.App {
  display: flex;
  margin: 20px 20px 80px 80px;
  flex-direction: column;
 }
 .App input{
   width: 400px;
   height: 40px;
 }
 .App label{
   font-weight: 500;
   font-size: 1.4rem;
 }
 
 .App-logo {
   height: 40vmin;
   pointer-events: none;
 }
 
 .btn{
  width: 400px;
  cursor: pointer;
  padding: 10px;
  background-color: aliceblue;
  margin-top: 2rem;
  height: 40px;
 }
 
 .btn2{
   width: 160px;
   cursor: pointer;
   padding: 10px;
   border-radius: 4px;
   border:none;
   color: white;
   background-color: rgb(14, 76, 219);
   margin-top: 2rem;
   height: 44px;
  }
  
 
 @media (prefers-reduced-motion: no-preference) {
   .App-logo {
     animation: App-logo-spin infinite 20s linear;
   }
 }
 
 .App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
 }
 
 .App-link {
   color: #61dafb;
 }
 
 .cont{
    margin:40px;
   border-radius: 10px; 
 
   display: flex;
   padding: 2%;
   width: 90%;
   background-color: #150b3e;
   flex-direction: column;
   height: 400px;
   -webkit-box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.18);
 -moz-box-shadow:  2px 2px 1px 1px rgba(0, 0, 0, 0.18);
 box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.18);
 }
 .cont input{
   width: 400px;
   height: 40px;
 }
 
 
 @keyframes App-logo-spin {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }
 
 
 .logout{
   border: none;
   margin-left: 40px;
   background-color: red;
   font-weight: 700;
   font-size: large;
   padding:10px;
   width: 100px;
   border-radius: 2px;
   color: white;
 }